@charset "UTF-8";
/*
sass --watch scss/custom.scss:css/custom.css
Version: 1.1.0
*/
/* VARIABLES */
.yellow {
  color: #FFED00; }

.bg-red {
  background-color: #C92A39; }

.rounded-20 {
  border-radius: 20px; }

/* END VARIABLES */
#listResults .checkbox * {
  cursor: pointer; }

#listResults .checkbox {
  width: 40px;
  height: 40px;
  margin-top: 1px;
  position: relative; }

#listResults .checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }

#listResults .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

#listResults .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 2px;
  margin-left: -21px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 21px;
  color: #555555; }

#listResults .checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0; }

#listResults .checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

#listResults .checkbox.checkbox-circle label::before {
  border-radius: 8px; }

#listResults .checkbox.checkbox-inline {
  margin-top: 0; }

#listResults .checkbox-red input[type="checkbox"]:checked + label::after,
#listResults .checkbox-yellow input[type="checkbox"]:checked + label::after,
#listResults .checkbox-green input[type="checkbox"]:checked + label::after,
#listResults .checkbox-blue input[type="checkbox"]:checked + label::after,
#listResults .checkbox-black input[type="checkbox"]:checked + label::after {
  color: #fff; }

#listResults .checkbox-red input[type="checkbox"] + label::before {
  background-color: #990000;
  border-color: #990000; }

#listResults .checkbox-yellow input[type="checkbox"] + label::before {
  background-color: #face00;
  border-color: #face00; }

#listResults .checkbox-green input[type="checkbox"] + label::before {
  background-color: #008000;
  border-color: #008000; }

#listResults .checkbox-blue input[type="checkbox"] + label::before {
  background-color: #428bca;
  border-color: #428bca; }

#listResults .checkbox-black input[type="checkbox"] + label::before {
  background-color: #000000;
  border-color: #000000; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background: #23356B;
  border-color: #23356B; }

.btn-secondary {
  background-color: transparent;
  border-color: #23356B;
  border-width: 1px;
  color: #23356B; }

.name-item {
  font-family: 'Gotham Pro'; }

#mainNav .navbar-nav li.nav-item a.nav-link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }

/*╨б╨в╨Ш╨Ы╨Ш ╨┤╨╗╤П ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*jssor slider arrow skin 093 css*/
.jssora093 {
  display: block;
  position: absolute;
  cursor: pointer; }

.jssora093 .c {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10; }

.jssora093 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10; }

.jssora093:hover {
  opacity: .8; }

.jssora093.jssora093dn {
  opacity: .6; }

.jssora093.jssora093ds {
  opacity: .3;
  pointer-events: none; }

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #000; }

.jssort101 .p .cv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 1; }

.jssort101 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  visibility: hidden; }

.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
  border: none;
  border-color: transparent; }

.jssort101 .p:hover {
  padding: 2px; }

.jssort101 .p:hover .cv {
  background-color: black;
  opacity: .35; }

.jssort101 .p:hover.pdn {
  padding: 0; }

.jssort101 .p:hover.pdn .cv {
  border: 2px solid #fff;
  background: none;
  opacity: .35; }

.jssort101 .pav .cv {
  border-color: #fff;
  opacity: .35; }

.jssort101 .pav .a, .jssort101 .p:hover .a {
  visibility: visible; }

.jssort101 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: .6; }

.jssort101 .pav .t, .jssort101 .p:hover .t {
  opacity: 1; }

/*MEDIA QUERIES */
/* ╨б╨в╨Ш╨Ы╨Ш ╨Ф╨Ы╨п ╨Ъ╨Р╨з╨Х╨б╨в╨Т╨Р ╨б╨Ы╨Р╨Щ╨Ф╨Х╨а╨Р */
#quantity {
  background: url("../img/bg-chemodan.png");
  background-size: cover;
  background-position: center center; }

/* ╨б╨в╨Ш╨Ы╨Ш ╨Ф╨Ы╨п ╨С╨а╨Х╨Э╨Ф╨Ю╨Т ╨д╨Х╨Щ╨Ъ╨Ю╨Т */
.brand-fakes {
  border-radius: 20px; }
  .brand-fakes h3 {
    margin-top: 10px; }

/* TESTIMONIALS (╨Ю╨в╨Ч╨л╨Т╨л) */
#testimonials {
  list-style: none;
  margin: 0;
  padding: 0; }
  #testimonials li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    background-color: #fff; }
    #testimonials li .insides {
      clear: both; }
      #testimonials li .insides .testimonial {
        position: relative;
        padding: 10px 15px 10px; }
        #testimonials li .insides .testimonial .name {
          display: block;
          font-size: 15px;
          line-height: 20px;
          font-weight: 700;
          margin-bottom: 5px;
          text-transform: uppercase;
          color: #e74c3c; }
        #testimonials li .insides .testimonial .text {
          display: block;
          color: #777;
          line-height: 20px;
          font-size: 13px;
          font-weight: 500;
          font-family: "Open Sans"; }
      #testimonials li .insides .photo {
        float: left;
        margin: 8px 10px; }
        #testimonials li .insides .photo img {
          max-width: 100px;
          border-radius: 100%;
          border: 2px solid transparent;
          transition: border-color .3s ease; }
    @media only screen and (min-width: 700px) {
      #testimonials li {
        background-color: transparent;
        width: 50%;
        float: left;
        margin-bottom: 5px; }
        #testimonials li:hover .photo img {
          border-color: #e74c3c; }
        #testimonials li:nth-child(even) .insides {
          border-radius: 0 100px 100px 0;
          margin-right: 0;
          margin-left: 5px; }
        #testimonials li:nth-child(even) .photo {
          float: right; }
        #testimonials li:nth-child(even) .testimonial {
          text-align: right; }
        #testimonials li .insides {
          height: 120px;
          margin-right: 5px;
          background-color: #fff;
          border-radius: 100px 0 0 100px; }
        #testimonials li .photo {
          float: left;
          margin: 8px 10px; }
          #testimonials li .photo img {
            max-width: 100px;
            border-radius: 100%;
            border: 2px solid transparent;
            transition: border-color .3s ease; } }
  #testimonials .review {
    list-style-type: none; }
    #testimonials .review li {
      border: 1px solid #23356B;
      border-radius: 20px; }

/*JSSOR SLIDER VIEW PRODUCT - ╨Т╨Ш╨Ф ╨Я╨а╨Ю╨Ф╨г╨Ъ╨ж╨Ш╨Ш*/
#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 455px;
  height: 480px;
  overflow: hidden;
  visibility: hidden; }
  #jssor_1 .slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 350px;
    overflow: hidden; }
  #jssor_1 .jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); }
    #jssor_1 .jssorl-009-spin img {
      margin-top: -19px;
      position: relative;
      top: 50%;
      width: 38px;
      height: 38px; }
  #jssor_1 .jssort101 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 350px; }
  #jssor_1 .p {
    width: 99px;
    height: 66px; }
  #jssor_1 .arr-left {
    width: 50px;
    height: 50px;
    top: 30%;
    left: 30px; }
  #jssor_1 .arr-right {
    width: 50px;
    height: 50px;
    top: 30%;
    right: 160px; }

/*# JSSOR_1 */
/*END JSSOR SLIDER VIEW PRODUCT - ╨Т╨Ш╨Ф ╨Я╨а╨Ю╨Ф╨г╨Ъ╨ж╨Ш╨Ш*/
#jssor_2 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 1120px;
  height: 480px;
  overflow: hidden;
  visibility: hidden; }
  #jssor_2 .jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); }
    #jssor_2 .jssorl-009-spin img {
      margin-top: -19px;
      position: relative;
      top: 50%;
      width: 38px;
      height: 38px; }
  #jssor_2 .u-slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 1120px;
    height: 480px;
    overflow: hidden; }
  #jssor_2 .arr-left {
    width: 50px;
    height: 50px;
    top: 0px;
    left: 30px;
    color: #423E3E; }
  #jssor_2 .arr-right {
    width: 50px;
    height: 50px;
    top: 0px;
    right: 240px;
    color: #423E3E; }

/* ╨Ф╨Ю ╨Ъ╨Ю╨Э╨ж╨Р ╨Р╨Ъ╨ж╨Ш╨Ш ╨Ю╨б╨в╨Р╨Ы╨Ю╨б╨м  - COUNTDOWN TIMER */
.clock-wrap {
  margin: 2% 0; }

.expired {
  display: none;
  text-align: center;
  font-size: 2rem;
  padding: 1em; }

.expired.show {
  display: block; }

.clock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.clock .time-block {
  color: #FFFFFF;
  text-align: center; }

.clock .time-block .time, .clock .time-block .label {
  display: inline-block;
  margin: 0; }

.clock .time-block .time {
  padding: 0;
  font-size: 2rem;
  display: inline-block; }

/* GOOGLE MAP - ╨Ъ╨Р╨а╨в╨Р ╨Ь╨Х╨б╨в╨Р */
#map_container {
  position: relative;
  width: 100%; }

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }

/* COPYRIGHT */
.copyright .socials li {
  border-radius: 50%; }
  .copyright .socials li a {
    color: #FFF;
    border: 0;
    height: 2.7rem;
    width: 2.7rem;
    background: #23356B; }
    .copyright .socials li a:hover {
      background-color: #ffed00;
      border-color: #ffed00;
      color: #000; }
.copyright .copy-text {
  margin-top: 15px;
  font-size: 12px; }

.floating-label-form-group input, .floating-label-form-group textarea {
  font-size: 12px;
  text-transform: uppercase; }

form .row:first-child .floating-label-form-group {
  border-top-width: 0; }

/* OWL CAROUSEL */
.content-carousel {
  width: 600px;
  display: block;
  margin: 0 auto; }

.owl-carousel {
  width: calc(100% - 300px); }

.owl-carousel .owl-controls .owl-dot {
  background-size: cover;
  margin-top: 10px; }

.owl-carousel .owl-dots {
  position: absolute;
  top: 0;
  right: -170px;
  width: 150px;
  height: 100%; }

.owl-carousel .owl-dot {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .owl-carousel .owl-dot.active {
    border: 1px solid #000; }

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black; }

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black; }

/* TESTIMONIALS BX SLIDER STYLES - ╨б╨в╨Ш╨Ы╨Ш ╨Ю╨в╨Ч╨л╨Т╨Ю╨Т  */
.testimonials {
  /* bxslider */
  /** THEME
  ===================================*/
  /* LOADER */
  /* DIRECTION CONTROLS (NEXT / PREV) */
  /* AUTO CONTROLS (START / STOP) */
  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  /* IMAGE CAPTIONS */ }
  .testimonials .bx-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    *zoom: 1; }
  .testimonials .bx-wrapper img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px; }
  .testimonials .bxslider {
    top: -12px; }
  .testimonials .bx-wrapper .bx-viewport {
    background: #fff; }
  .testimonials .bx-wrapper .bx-pager {
    display: none; }
  .testimonials .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%; }
  .testimonials .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url("../img/bx_loader.gif") center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000; }
  .testimonials .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline; }
  .testimonials .bx-wrapper .bx-prev {
    left: -50px;
    border-radius: 15px; }
  .testimonials .bx-wrapper .bx-prev:before {
    content: '';
    background: url(http://www.japonshop.com/css/img/flch-izq.gif) no-repeat center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .testimonials .bx-wrapper .bx-next {
    right: -50px;
    border-radius: 15px; }
  .testimonials .bx-wrapper .bx-next:before {
    content: '';
    background: url(http://www.japonshop.com/css/img/flch-der.gif) no-repeat center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .testimonials .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    width: 32px;
    height: 112px;
    text-indent: -9999px;
    z-index: 9999; }
  .testimonials .bx-wrapper .bx-controls-direction a:hover {
    background: #cccccc; }
  .testimonials .bx-wrapper .bx-controls-direction a:hover:before {
    left: 45%; }
  .testimonials .bx-wrapper .bx-controls-direction a.bx-next:hover:before {
    left: 55%; }
  .testimonials .bx-wrapper .bx-controls-direction a.disabled {
    display: none; }
  .testimonials .bx-wrapper .bx-controls-auto {
    text-align: center; }
  .testimonials .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(//bxslider.com/lib/images/controls.png) -86px -11px no-repeat;
    margin: 0 3px; }
  .testimonials .bx-wrapper .bx-controls-auto .bx-start:hover,
  .testimonials .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0; }
  .testimonials .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(//bxslider.com/lib/images/controls.png) -86px -44px no-repeat;
    margin: 0 3px; }
  .testimonials .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .testimonials .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px; }
  .testimonials .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%; }
  .testimonials .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px; }
  .testimonials .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%; }
  .testimonials .bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px; }

/* END TESTIMONIALS BX SLIDER STYLES - ╨б╨в╨Ш╨Ы╨Ш ╨Ю╨в╨Ч╨л╨Т╨Ю╨Т  */
#basicModal .floating-label-form-group .help-block {
  margin-bottom: 0; }
  #basicModal .floating-label-form-group .help-block ul {
    padding-left: 0;
    list-style-type: none; }

.arrow a {
  color: #23356B; }

#quantity .arrow a {
  color: #FFF; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* 768 - 991*/
/* IPAD LANDSCAPE ONLY */
/* END IPAD LANDSCAPE ONLY */
/* 1024 simple*/
/* END 1024*/
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  header.masthead h1 {
    font-size: 1rem;
    line-height: 1.5rem; }

  #jssor_1, #jssor_2 {
    width: 100% !important; }

  .text-xs-center {
    text-align: center; }

  #jssor_1 .jssort101 {
    position: absolute;
    left: 0 !important;
    top: 120px !important;
    width: 320px !important;
    height: 150px !important; }

  #jssor_1 .arr-left {
    left: 0;
    top: 0; }
  #jssor_1 .arr-right {
    right: 30px;
    top: 0; }

  .clock .time-block .time {
    font-size: 1.6rem; }

  #about .slide-description {
    margin-bottom: 1.5rem; }

  .clock .time-block .label {
    font-size: 10px; }

  section {
    padding: 3rem 0; }

  .content-carousel {
    width: 100%;
    display: block;
    margin: 0 auto; }

  .testimonials .bx-wrapper .bx-next {
    right: 0; }

  .testimonials .bx-wrapper .bx-prev {
    left: 0; }

  .owl-carousel {
    width: calc(100% - 140px); }

  #gallery .gallery-link {
    display: inline-block;
    width: 50%; }

  .owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    right: -145px;
    width: 120px;
    height: 100%; }

  .owl-prev {
    margin-left: -15px; }

  .owl-next {
    right: -20px; } }
/* MEDIA 480px*/

/*# sourceMappingURL=custom.css.map */
