/*
sass --watch scss/custom.scss:css/custom.css
Version: 1.1.0
*/


/* VARIABLES */
.yellow {
  color:#FFED00;
}
.bg-red {
  background-color:#C92A39 ;
}

.rounded-20 {
  border-radius: 20px;
}
/* END VARIABLES */


#listResults .checkbox * {
  cursor: pointer;
}
#listResults .checkbox {
  width: 40px;
  height: 40px;
  margin-top: 1px;
  position: relative;
}

#listResults .checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

#listResults .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

#listResults .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 2px;
  margin-left: -21px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 21px;
  color: #555555;
}

#listResults .checkbox input[type="checkbox"]{
  opacity: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left:0;
}


#listResults .checkbox input[type="checkbox"]:checked + label::after{
  font-family: "FontAwesome";
  content: "\f00c";
}

#listResults .checkbox.checkbox-circle label::before {
  border-radius: 8px;
}

#listResults .checkbox.checkbox-inline {
  margin-top: 0;
}

#listResults .checkbox-red    input[type="checkbox"]:checked + label::after,
#listResults .checkbox-yellow input[type="checkbox"]:checked + label::after,
#listResults .checkbox-green  input[type="checkbox"]:checked + label::after,
#listResults .checkbox-blue   input[type="checkbox"]:checked + label::after,
#listResults .checkbox-black  input[type="checkbox"]:checked + label::after
{color: #fff;}

#listResults .checkbox-red input[type="checkbox"] + label::before
{background-color: #990000;  border-color: #990000;}

#listResults .checkbox-yellow input[type="checkbox"] + label::before
{background-color: #face00;  border-color: #face00;}

#listResults .checkbox-green input[type="checkbox"] + label::before
{background-color: #008000;  border-color: #008000;}

#listResults .checkbox-blue input[type="checkbox"] + label::before
{background-color: #428bca;  border-color: #428bca;}

#listResults .checkbox-black input[type="checkbox"] + label::before
{background-color: #000000;  border-color: #000000;}




.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background: #23356B;
  border-color: #23356B;
}

.btn-secondary {
  background-color: transparent;
  border-color: #23356B;
  border-width: 1px;
  color:#23356B;
}
.name-item {
  font-family: 'Gotham Pro';
}

#mainNav .navbar-nav li.nav-item a.nav-link {

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}



/*СТИЛИ для слайдера*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

/*MEDIA QUERIES */


/* СТИЛИ ДЛЯ КАЧЕСТВА СЛАЙДЕРА */
#quantity {
  background: url("../img/bg-chemodan.png");
  background-size: cover;
  background-position: center center;
}

/* СТИЛИ ДЛЯ БРЕНДОВ ФЕЙКОВ */
.brand-fakes {
  border-radius: 20px;
  h3 {
    margin-top: 10px ;
  }
}



/* TESTIMONIALS (ОТЗЫВЫ) */
#testimonials {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    background-color: #fff;
    .insides {
      clear: both;
      .testimonial {
        position: relative;
        padding: 10px 15px 10px;
        .name {
          display: block;
          font-size: 15px;
          line-height: 20px;
          font-weight: 700;
          margin-bottom: 5px;
          text-transform: uppercase;
          color: rgba(231, 76, 60,1.0);
        }
        .text {
          display: block;
          color: #777;
          line-height: 20px;
          font-size: 13px;
          font-weight: 500;
          font-family: "Open Sans";
        }
      }
      .photo {
        float: left;
        margin: 8px 10px;
        img {
          max-width: 100px;
          border-radius: 100%;
          border: 2px solid transparent;
          transition: border-color .3s ease;
        }
      }
    }
    @media only screen and (min-width:700px) {
      background-color: transparent;
      width: 50%;
      float: left;
      margin-bottom: 5px;
      &:hover {
        .photo img {
          border-color: rgba(231, 76, 60,1.0);
        }
      }
      &:nth-child(even) {
        .insides {
          //@include border-radius(0 100px 100px 0);
          border-radius: 0 100px 100px 0;
          margin-right: 0;
          margin-left: 5px;
        }
        .photo {
          float: right;
        }
        .testimonial {
          text-align: right;
        }
      }
      .insides {
        height: 120px;
        margin-right: 5px;
        background-color: #fff;
        border-radius: 100px 0 0 100px;
        //@include border-radius(100px 0 0 100px);
      }
      .photo {
        float: left;
        margin: 8px 10px;
        img {
          max-width: 100px;
          border-radius: 100%;
          border: 2px solid transparent;
          transition: border-color .3s ease;
        }
      }
    }
  }
  .review {
    list-style-type: none;
    li {
      border:1px solid #23356B;
      border-radius:20px;
    }
  }
}

/*JSSOR SLIDER VIEW PRODUCT - ВИД ПРОДУКЦИИ*/
#jssor_1 {
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width:455px;
  height:480px;
  overflow:hidden;
  visibility:hidden;
  .slides {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:300px;
    height:350px;
    overflow:hidden;
  }
  .jssorl-009-spin {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
    img {
      margin-top:-19px;
      position:relative;
      top:50%;
      width:38px;
      height:38px;
    }
  }
  .jssort101 {
    position:absolute;
    right:0px;
    top:0px;
    width:150px;
    height:350px;
  }
  .p {
    width:99px;
    height:66px;
  }
  .arr-left {
    width:50px;
    height:50px;
    top:30%;
    left:30px;
  }
  .arr-right {
    width:50px;
    height:50px;
    top:30%;
    right:160px;
  }
} /*# JSSOR_1 */
/*END JSSOR SLIDER VIEW PRODUCT - ВИД ПРОДУКЦИИ*/

#jssor_2 {
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width:1120px;
  height:480px;
  overflow:hidden;
  visibility:hidden;
  .jssorl-009-spin {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
    img {
      margin-top:-19px;
      position:relative;
      top:50%;
      width:38px;
      height:38px;
    }
  }
  .u-slides {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:1120px;
    height:480px;
    overflow:hidden;
  }
  .arr-left {
    width:50px;
    height:50px;
    top:0px;
    left:30px;
    color:#423E3E;
  }
  .arr-right {
    width:50px;
    height:50px;
    top:0px;
    right:240px;
    color:#423E3E;
  }
}



/* ДО КОНЦА АКЦИИ ОСТАЛОСЬ  - COUNTDOWN TIMER */

.clock-wrap {
  margin: 2% 0;
}

.expired {
  display: none;
  text-align: center;
  font-size: 2rem;
  padding: 1em;
}
.expired.show {
  display: block;
}

.clock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clock .time-block {
  color: #FFFFFF;
  text-align: center;
}
.clock .time-block .time, .clock .time-block .label {
  display: inline-block;
  margin: 0;
}
.clock .time-block .time {
  padding: 0;
  font-size: 2rem;
  display: inline-block;
}


/* GOOGLE MAP - КАРТА МЕСТА */
#map_container {
  position: relative;
  width: 100%;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}


/* COPYRIGHT */
.copyright {
  .socials li {

    border-radius: 50%;

    a {
      color:#FFF;
      border:0;
      height: 2.7rem;
      width: 2.7rem;
      background: #23356B;
      &:hover {
        background-color: #ffed00;
        border-color: #ffed00;
        color:#000;
      }
    }
  }
  .copy-text {
    margin-top: 15px;
    font-size:12px;
  }
}

/* Large desktops and laptops */


@media (min-width: 1200px) {


}

@media (min-width: 1200px) and (max-width:1445px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* 768 - 991*/

/* IPAD LANDSCAPE ONLY */


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {


}

/* END IPAD LANDSCAPE ONLY */

/* 1024 simple*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {



}
/* END 1024*/

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  header.masthead h1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #jssor_1 , #jssor_2{
    width:100% !important;
  }
  .text-xs-center {
    text-align: center;
  }

  #jssor_1 .jssort101 {
    position: absolute;
    left: 0 !important;
    top: 120px !important;
    width: 320px !important;
    height: 150px !important;
  }

  #jssor_1 {
    .arr-left {
      left:0 ;
      top:0;
    }
    .arr-right {
      right:30px ;
      top:0;
    }
  }
  .clock .time-block .time {
    font-size: 1.6rem;
  }
  #about .slide-description {
    margin-bottom: 1.5rem;
  }

   .clock .time-block .label {
    font-size:10px;
  }

  section {
    padding: 3rem 0;
  }

}

/* MEDIA 480px*/

@media (max-width: 320px) {


}
